body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #08bf08;
  }
  
  .calculator {
    width: 100px;
    background: #d5117ad6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .display {
    background: #222;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background: #ddd;
  }
  
  button {
    background: #f9f9f9;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
  
  }
  
  button:hover {
    background: #2335d9;
  }
  
  button:active {
    background: #f9f9f9;
  }
  
  button:nth-child(4n) {
    background: #f9f9f9;
    color: #000000;
  }
  
  button:nth-child(4n):hover {
    background: #2335d9;
  }
  
  button:nth-child(15) {
    background: #f9f9f9;
    color: #000000;
  }
  
  button:nth-child(15):hover {
    background: #2335d9;
  }
  